{% extends "base.html" %} {% block title %} SPOTENTRY  {% endblock %}
{% block content %}
<form method = "POST">
    <h3 align = "center">Spot Number Entry</h3>
    <div class = "form-group">
       <label for = 'spot_number'>Spot Number</label> 
       <input type = "text" 
       class = "form-control" 
       id = "spot_number" 
       name = "spot_number" 
       placeholder="Enter spot number">
    </div>


    <div class = "form-group">
        <label for = 'location'>Location</label> 
        <input type = "text" 
        class = "form-control" 
        id = "location" 
        name = "location" 
        placeholder="Enter Location">
     </div>
     <br />
     <button type = "submit" class = "btn btn-primary"> Submit</button>
</form>
{% endblock %}